<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenSuite">
	<listeners>
	<listener class-name="utilities.ExtentReportManager"/>
	</listeners> 
	<groups>
		<run>
			<include name="MAIN"></include>
		</run>
	</groups>
  <test thread-count="5" name="Test1">
	  	   <parameter name="browser" value="chrome"/>

    <classes>
		
    <class name="testCases.tc_001TestcaseRegistrationPage"/>
    
      <class name ="testCases.tc_002TestCaseLogin"/> 
     
      
    </classes>
  </test> <!-- Test -->
   
</suite> <!-- Suite -->
 